DATABASE_URL_PROD =

DATABASE_URL_DEV =

PORT =

ACCESS_SECRET =

REFRESH_SECRET =

REFRESH_JWT_EXPIRES_IN =

ACCESS_JWT_EXPIRES_IN =

# Google OAuth
GOOGLE_CLIENT_ID =
GOOGLE_CLIENT_SECRET =
GOOGLE_REDIRECT_URI = http://localhost:8000/api/v1/auth/google/callback